body {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0;
    margin-bottom: 40px;
    background-color: #cc9820;
    font-family: benguiat;
    height: 100%;
    font-weight: bold;
    font-size: 400%;
    color: #222222;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    height: 1vh;
    text-align: center;
}

header {
   
}

footer {
    text-align: center;
    background-color: #222222;
    color: rgba(240, 255, 255, 0.442);
    font-size: small;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img {
    max-width: 600px;
    max-height: 600px;
}

a {
    margin-top: 1px;
    font-size: 20%;
    margin-bottom: 1px;
    background-color: #000000;
    color: #000000;
    padding-top: 0px;
    padding-bottom: 3px;
    
}

p {
    margin-top: 25px;
    margin-bottom: 25px;
    color: rgb(195, 24, 29);
}

.By {
    font-size: 60%;
    margin-left: -15px;
}

main {
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1px;
    width: 50%;
}

#contenedor-posters {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 2px;
    gap: 30px;
}

.vhs {
    background-image: url(https://png.pngtree.com/png-clipart/20220924/ourmid/pngtree-film-grain-particles-texture-effect-png-image_6214662.png);
    background-position: center;
    background-color: #cc9820;
}

.vhs img {
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    border: 2px solid #000000;
    background-repeat: no-repeat;
    transition: transform 0.3s ease; 
}

.vhs img:hover {
    transform: scale(1.1); 
}

#default {
    display: flex;
    justify-content: left;
    text-align: right;
}

.dogs {
    background-color: antiquewhite;
    color: #222222;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.dogs img {
    max-width: 400px;
    max-height: 400px;
}

.back {
    margin-top: 30px;
    text-align: left;
}

.back img {
    max-width: 100px;
    max-height: 100px;
}

